# Python files
*.pyc
__pycache__/

# Django specific
*.sqlite3
db.sqlite3

# Virtual environments
webapp/
shpe_env/
venv/
env/
.venv/

# IDEs and editors
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Logs
*.log

# Environment variables
.env

# Static and media files
staticfiles/
media/

# MacOS specific
.DS_Store
